* {
    margin: 0;
    padding: 0;
}

html, body {
    html {overflow: -moz-scrollbars-none;}
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

#container {
    height: 100%;
}

::-webkit-scrollbar {
    width: 1px;
}

scrollbar[orient="vertical"] scrollbarbutton,
scrollbar[orient="vertical"] slider {
 -moz-appearance: none !important;
}

@import 'login.scss';
@import 'browse.scss';
