* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

#container {
    height: 100%;
}

::-webkit-scrollbar {
    width: 1px;
}

@import 'login.scss';
@import 'browse.scss';
